* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5em; 
  background-color: #6DBCDB; 
}

h1 {
  padding: 1em 8em;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  background-color: #233251;  
}

h1:before {
  display: block;
  content: ' ';
  width: 100px;
  height: 100px;
  background-image: url('av.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
  margin: 10px;
  margin-left: -10px;
}

.skills,
.projects {
  padding: 2em 10em;
  color: #F3F5F2;  
}

.skills { background-color: #233251; }

.projects {
  background-color: #6DBCDB;
  border-top: 1px solid #80d5f7;
  color: #fff;
}

.declaration { padding-left: 1em; }

.property { color: #6DBCDB; }
.value    { color: #FC5B47; }

.projects p:first-child { margin-bottom: 2em; }

a {
  display: inline-block;
  text-decoration: none;
  color: #233251;
  font-weight: 700;  
}

.btn { 
  background-color: #fff;
  padding: 6px 20px;
  margin: 10px;
  border-bottom: 5px solid #D6DADB;
  border-radius: 5px
}

.btn:active {
  background-color: #D6DADB;
  transition: .2s linear;
}

@media screen and (max-width: 600px) {
  h1 {
    padding: 1em 4em;    
  }
  .skills,
  .projects {
    padding: 2em 6em;
  }
}
  
@media screen and (max-width: 400px) {
  h1 {
    padding: 1em 2em;    
  }
  .skills,
  .projects {
    padding: 2em 2em;
  }
}