@font-face {
    font-family: socicon;
    src:  url('../font/socicon-webfont.eot');
    src: url('../font/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/socicon-webfont.woff') format('woff'),
         url('../font/socicon-webfont.ttf') format('truetype'),
         url('../font/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  font-family: Helvetica;
  line-height: 1.5em;
}

.header {
  background-color: #2ecc71;
  height: 610px;
  background-image: url(../font/so)
}

.header h1 {
  margin-left: 20%;
  padding-top: 10%;  
}

.header p {
  padding-top: 30px;
  margin-left: 20%;
  font-size: 24px;
  padding-bottom: 20px;
  color: #fff;
}

.header h1, .header span {
  font-size: 50px;
  font-weight: 100;
}

.circle-header {  
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #36231a; 
  margin: 0 5px;
}

.apple,
.android,
.windows,
.twitter,
.facebook,
.google,
.pinterest,
.linkedin,
.youtube {
  background-position: center;
  background-repeat: no-repeat;
}
.apple   { background-image: url(../img/apple.png); }
.android { background-image: url(../img/android.png); }
.windows { background-image: url(../img/windows.png); }

.social-links { margin-left: 20%; }

.circle-header:hover,
.soc-circle:hover,
.testi-authors img:hover {
  cursor: url(../img/cusor.png), auto; 
  background-color: #2ecc71;
}

.testi-authors img:hover {  
  opacity: 0.4;
  -webkit-filter: hue-rotate(90deg);  
}

.image {
  position: relative;
  top: 10px;
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  height: 600px;
  position: relative;
}

.image:after {
  display: block;
  content: " ";
  background-image: url(../img/hand.png);
  width: 439px;
  height: 507px;
  position: absolute;
  bottom: -0.25px;
  right: 16.875%;
}

.logo {
  font-family: 'Pacifico', cursive;
  color: #fff;
 
}

.logo span { color: #2ecc71;
 
}
main {
  display: block;
  background-color: #fff;    
  margin: 0 auto;
  text-align: center;
}

.get-notified {
  text-align: left;
  
}

.features,
.get-notified,
.testimonials {  
  padding: 50px 14%;
}

.features h1,
.get-notified h1,
.testimonials h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
.btn,
cite {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.mail {
  font-size: 16px;
  padding: 15px 20px;
  border-radius: 10px 0 0 10px;
  border-style: none;  
  border: 1px solid #c8c8c8;
  border-right: none;
  margin: 0;
  position: relative;
  left: 5px; 
}

.btn {
  background-color: #2ecc71;
  color: #fff;
  padding: 15px 30px;
  border-radius: 0 10px 10px 0;
  border-style: none;
  font-size: 16px;
  margin: 0;
  border-bottom: 1px solid #2ecc71;  
}

.email-form,
.video {
  display: inline-block;
  width: 45%;    
}

.email-form h1,
.email-form p {
  padding-bottom: 25px;
}

.video {  
  margin-left: 9%;
  background-image: url(../img/video.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 90px;
  padding-bottom: 60px; 
}

.footer,
.get-notified {
  background-color: #e3e3e3;
}

.settings,
.design,
.audience {
  display: inline-block;
  width: 33%;
  padding: 0 47px;
}

.circle {
  margin: 0 auto;
  height: 100px;
  width: 100px;
  border-radius: 50%;  
  background-color: #2ecc71;  
  background-repeat: no-repeat;
  background-position: center;
}

.settings .circle { background-image: url(../img/settings.png); }
.design   .circle { background-image: url(../img/star.png); }
.audience .circle { background-image: url(../img/world.png); }

.features h1,
.features p {
  padding-top: 20px;
}

main h1 {
  font-size: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.footer li {
  text-align: center;
  display: inline; 
  padding-left: 30px; 
}

main p, blockquote {
  color: #8a8a8a;
}

blockquote {
  display: inline-block;
  width: 70%;
  padding-bottom: 1.5em;
}

cite,
blockquote {
  font-size: 18px;
  font-style: italic;
}
cite {
  font-style: normal;
  color: #000;
  padding-top: 10px;
}
cite,
.testimonials p {
  display: block;
  padding-bottom: 1.5em;
}

.testi-authors {
  padding-bottom: 1em;
}

.testimonials h1 {
  padding-top: 1em;
}  

.testimonials p {  
  padding: 1em 0;
}

.footer li:first-child {
  padding: 0;
}

.footer li:last-child {
  text-align: right;
}

.footer  {
  padding: 55px 0; 
}

.footer a {
  color: #8a8a8a;
  text-decoration: none;
  font-weight: 500;
}

.footer ul {
  list-style: none;
  display: block;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.soc-circle {
  display: inline-block;
  width: 35px;
  height: 35px;  
  border-radius: 50%;
  margin: 3px;  
  background-color: #e3e3e3;
}

.twitter { background-image: url(../img/social/twitter.png); }
.facebook { background-image: url(../img/social/facebook.png); }
.google { background-image: url(../img/social/google.png); }
.pinterest { background-image: url(../img/social/pinterest.png); }
.linkedin { background-image: url(../img/social/linkedin.png); }
.youtube { background-image: url(../img/social/youtube.png); }

@media screen and (max-width: 1456px) {
  .features,
  .get-notified,
  .testimonials {  
    padding: 50px 5%;
  }  
}

@media screen and (max-width: 1410px) {
  .image:after { display: none; }
}

@media screen and (max-width: 1169px) {
  main h1 { font-size: 20px; }
}
  
@media screen and (max-width: 1029px) {
  main h1 { font-size: 18px; }
}
  
@media screen and (max-width: 1000px) {
  .settings,
  .design,
  .audience {   
    width: 28%;
    padding: 0 10px;
  }
}
  
@media screen and (max-width: 835px) {
  .settings,
  .design,
  .audience {
    display: block;
    margin: 0 auto;
    width: 33%;
    padding: 10px 0; 
  }
}
  
@media screen and (max-width: 832px) {
  .email-form,
  .video {
    display: block;
    width: 66%; 
    margin: 0 auto;
    padding: 10px 0;  
    text-align: center;
  }
  .video {
    margin-top: 20px;
  }
}
  
@media screen and (max-width: 832px) {
  .settings,
  .design,
  .audience {
    width: 50%;
  }
  .mail,
  .btn {
    padding: 10px 15px;
  }
}
  
@media screen and (max-width: 506px) {
  .mail,
  .btn {
    padding: 5px 10px; 
  }

     
  .email-form,
  .video {
    width: 80%;  
  }
       
  .settings,
  .design,
  .audience {
    width: 80%;
  }
}
  
@media screen and (max-width: 395px) {
  .mail,
  .btn {
    font-size: 14px; 
  } 

  
}