.image {
  background-image: url(images/tlo.jpg);
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
  text-align: center;
}

li {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}